<!DOCTYPE html>
<html>
    <body>
        <form action="/adminlogin" method="post">
            <label for="adminname">Username: </label>
            <input type="text" id = "adminname" name="adminname" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Admin Login</button>
            <br>
        </form>
        <button onclick="window.location.href='/signup'">Signup!</button>
    </body>
</html>