<!DOCTYPE html>
<html>
<head>
    <title>Text to Speech</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Help Bot</h1>
    <form action="/helpbot" method="post">
        <label for="wav_file">Welcome to the automated helpdesk, how can we help you?</label><br><br>
       
            {% for file, label in audio_files.items() %}
            <button type="submit" name="wav_file" value="{{ file }}">{{ label }}</button>
            {% endfor %}
       
        <br>
    </form>
    {% if wav_file %}
    <audio hidden autoplay>
        <source src ="{{ url_for('static', filename='audio/' + wav_file) }}" type = "audio/wav">
        
    </audio>
    {% endif %}

</body>
</html>