<!DOCTYPE html>
<html>
    <head> 
        <title>Item Page</title>
        <style>
            .item{
                margin: 10px;
                padding: 10px;
                border: 1px solid black;
                width: 400px;
            }
        </style>
    </head>

    <body>
        <h3>Le item</h3>
        {% if data %}
        <div class="item">
            <p><strong>Item ID:</strong> {{ data[0] }}</p>
            <p><strong>Item Name:</strong> {{ data[1] }}</p>
            <p><strong>Description:</strong> {{ data[2] }}</p>
            <p><strong>Seller:</strong> {{ data[3] }}</p>
            <p><strong>Price:</strong> {{ data[4] }}</p>
        </div>
        <button onclick="history.back()">Go Back</button>
        {% else %}
        <p>{{ error }}</p>
        {% endif %}
    </body>
</html>