<!DOCTYPE html>
<html>
    <head>
        <title>The Evil Store Page</title>
    
    <style>
        .Login{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            background-color: purple;
            color: white;
            
        }
     
    </style>
    </head>    
    <body>
        <h1>Squidfinity</h1>
        <button class="Login" onclick="window.location.href='/login'">Login Perchance?</button>

        <h2>Main Page</h2>
        <img src="{{ url_for('static', filename='images/Mike Myers.jpg') }}" alt="Coconut Image" width="200" height="200">
        
        <p>Whatre ya buying stranger?</p>
        <form method="post" action ="/">
        <input type = "submit" name = "Open Coconut" value = "Open Coconut">      
        </form>
        <br>
        <button onclick="window.location.href='/storefront'">Go to Storefront</button>
        

    </body>


</html>