<!DOCTYPE html>
<html>

    <style>
       

        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: purple;
        }

        h2{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        button{
            background-color: blue;
            color: white;

        }

        p{
            color:white;

        }
        body{
            background-color: black;
             
            
        }
      


    </style>

    <body>
        <h1>Welcome to Paradise</h1>
        <p>Shop here, buy stuff please</p>
        
        <button class ="signup" onclick="window.location.href='/signup'">Signup here</button>
        <button class="login" onclick="window.location.href='/login'">Login Perchance?</button>
        
        <button class="adminlogin" onclick="window.location.href ='/adminlogin'">Admin login</button>
        <h2><u>News Section</u></h2>
        <p>Welcome to the website!</p>

    </body>



</html>